<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<%# for cross site request forgery protection %>
		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>

		<%# rails 3.1 serves all CSS files in app/assets/stylesheets %>
		<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
		<%= stylesheet_link_tag "styles" %>
	</head>
	<body>
	<div id="container">
		<%= render 'shared/header' %>
		<div id="content">
		<% flash.each do |key, value| %>
			<div class="flash <%= key %>"><%= value %></div>
		<% end %>
		<%= yield %>
		<%= render 'shared/footer' %>
		<%= debug(params) if Rails.env.development? %>
		</div> <!-- end page content section -->
	</div> <!-- end container div -->
	</body>
</html>
