<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<%# for cross site request forgery protection %>
		<%= csrf_meta_tag %>

		<%# rails 3.1 serves all CSS files in app/assets/stylesheets %>
		<%= stylesheet_link_tag "styles" %>
		<!--[if lt IE 9]>
			<%= stylesheet_link_tag 'IE_pre9' %>
			<%= javascript_include_tag 'html5shiv.js' %>
		<![endif]-->


		<%= javascript_include_tag "application" %>
	</head>
	<body>
	<div id="container">
		<header id="page-header">
		<%= image_tag("lantern.png", :alt => "site logo", :class => "round") %>
		<span>My App</span>
		</header> <!-- end page header div -->
		<nav id="main-nav" class="nav">
			<ul>
				<li><%= link_to "Home", "#" %></li>
				<li><%= link_to "Help", "#" %></li>
				<li><%= link_to "Sign In", "#" %></li>
			</ul>
		</nav> <!-- end main-nav div -->
		<div id="content">
			<article id="main">
				<%= yield %>
			</article> 
			<aside id="sidebar">
				&nbsp;
			</aside>
		<footer id="page-footer">
			&nbsp;
		</footer> <!-- end page footer -->
	</div> <!-- end page content section -->
	</div> <!-- end container div -->
	</body>
</html>

