<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<%# for cross site request forgery protection %>
		<%= csrf_meta_tag %>

		<%# rails 3.1 serves all CSS files in app/assets/stylesheets %>
		<%= stylesheet_link_tag "styles" %>
		<%= javascript_include_tag "application" %>

		<!--[if lt IE 9]>
		<%= stylesheet_link_tag 'IE_pre9' %>
		<%= javascript_include_tag 'html5shiv.js' %>
		<![endif]-->
	</head>
	<body>
	<div id="container">
		<%= render 'layouts/header+nav' %>
		<div id="content">
			<article id="main">
				<%= yield %>
			</article> 
			<aside id="sidebar">
				&nbsp;
			</aside>
		<%= render 'layouts/footer' %>
		<%= debug(params) if Rails.env.development? %>
		</div> <!-- end page content section -->
	</div> <!-- end container div -->
	</body>
</html>

